.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 12px 40px;
  width: 300px;
  font-size: 16px;
  font-style: italic;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  left: 12px;
  top: 12px;
}